body{
	font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	max-height: 10px;
	}
.menu{
	margin: 10px;
	position: relative;
	bottom: 10px;
	left:70px;
	font-size: 13px;
}
#menu1{
	text-decoration: none;
	color: #262626;
	padding-top: 16px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 10px;
	position: relative;
	left: 20px;
}
#menu2{
	text-decoration: none;
	color: #262626;
	padding-top: 16px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 10px;
	position: relative;
	left: 20px;
}
#menu3{
	text-decoration: none;
	color: #262626;
	padding-top: 16px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 10px;
	position: relative;
	left: 20px;
}
#menu4{
	text-decoration: none;
	color: #262626;
	padding-top: 16px;
	padding-right: 8px;
	padding-left: 8px;
	padding-bottom: 10px;
	position: relative;
	left: 20px;
}
#img1{
	margin:20px;
	position: relative;
	bottom: 20px;
	left: 50px;
	cursor: pointer;
}
#img2{
	cursor: pointer;
}
#option{
	font-family: Segoe UI,SegoeUI,"Helvetica Neue",Helvetica,Arial,sans-serif;
	border: none;
	font-size: 12px;
	position: relative;
	left: 570px;
	margin-right: : 20px;
	cursor: pointer;
}
#poisk{
	position: relative;
	left: 590px;
	margin-right: 20px;
	cursor: pointer;
}
#poiskimg{
	position: relative;
	top: 5px;
	cursor: pointer;
}
#signin{
	position: relative;
	left: 590px;
	text-decoration: none;
}
#signinimg{
	position: relative;
	top: 10px;
	cursor: pointer;
}
#logo{
	position: relative;
	top: 4px;
}
#title{
	position: relative;
	bottom: 400px;
	left: 150px;
}
h1{
	font-weight: 550;
	font-size: 35px;
}
h3{
	font-weight: 450;
	font-size: 15px;
	position: relative;
	bottom: 15px;
}
#family{
	line-height: 18.5px;
	font-size: 16px;
	background: black;
	color: white;
	border: none;
	font-family: inherit;
	font-weight: 600;
	margin-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}
#personal{
	line-height: 18.5px;
	font-size: 16px;
	background: transparent;
	border: none;
	font-family: inherit;
	font-weight: 600;
	cursor: pointer;
}
#teams{
	text-decoration: none;
	color: black;
	position: relative;
	left: 70px;
	bottom: 200px;
	font-size: 15px;
}
#edge{
	text-decoration: none;
	color: black;
	position: relative;
	left: 410px;
	bottom: 540px;
	font-size: 15px;
}
#onedrive{
	text-decoration: none;
	color: black;
	position: relative;
	left: 760px;
	bottom: 900px;
	font-size: 15px;
}
#windows{
	text-decoration: none;
	color: black;
	position: relative;
	left: 1100px;
	bottom: 1260px;
	font-size: 15px;
}
#title2{
	position: relative;
	bottom: 1200px;
	left: 75px;
}
#outlook{
	position: relative;
	bottom: 350px;
	left: 100px;
}
#download{
	line-height: 18.5px;
	font-size: 16px;
	background: black;
	color: white;
	border: none;
	font-family: inherit;
	font-weight: 600;
	margin-right: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 15px;
	cursor: pointer;
}
#business{
	text-decoration: none;
	color: black;
	position: relative;
	left: 80px;
	bottom: 1340px;
	font-size: 14px;
}
#corp{
	text-decoration: none;
	color: black;
	position: relative;
	left: 420px;
	bottom: 1685px;
	font-size: 14px;
}
#newedge{
	text-decoration: none;
	color: black;
	position: relative;
	left: 760px;
	bottom: 2010px;
	font-size: 14px;
}
#visual{
	text-decoration: none;
	color: black;
	position: relative;
	left: 1100px;
	bottom: 2340px;
	font-size: 14px;
}
footer{
	display: flex;
	position: relative;
	bottom: 2300px;
	background: #f2f2f2;
	width: 1500px;
	height: 300px;
	font-size: 11px;
	position: relative;
	right: 10px;
	padding-left: 10px;
	padding: 10px;
}
#new{
	margin: 30px;
	width: 500px;
	position: relative;
	left: 70px;
}
#edu{
	margin: 30px;
	width: 700px;
	position: relative;
	left: 70px;
}
#forbus{
	margin: 30px;
	width: 500px;
	position: relative;
	left: 70px;
}
#dev{
	margin: 30px;
	width: 700px;
	position: relative;
	left: 70px;
}
#company{
	margin: 30px;
	width: 700px;
	position: relative;
	left: 70px;
}
#micro{
	margin: 30px;
	width: 500px;
	position: relative;
	left: 70px;
}
span{
	font-size: 16px;
	font-weight: 500;
}
#foot1{
	text-decoration: none;
	color: #616161;
}
#foot2{
	text-decoration: none;
	color: #616161;
}
#foot3{
	text-decoration: none;
	color: #616161;
}
#foot4{
	text-decoration: none;
	color: #616161;
}
#foot5{
	text-decoration: none;
	color: #616161;
}
#foot{
	text-decoration: none;
	color: #616161;
}
#bill{
	color: #616161;
}